<?xml version="1.0" encoding="utf-8" ?>
<property-mapping>

  <query type="EQEmu.RoamAreas.ZoneRoamAreas">
    <select>
      <sql>
        <![CDATA[
        SELECT id,min_z,max_z,spawn_random,pause_time,pause_variance,zone FROM roam_areas WHERE zone = '{0}';
        ]]>
      </sql>
      <param>Zone</param>
      <store field="max_z" type="float">MaxZ</store>
      <store field="min_z" type="float">MinZ</store>
      <store field="pause_time" type="int">PauseTime</store>
      <store field="pause_variance" type="int">PauseVariance</store>
      <store field="spawn_random" type="bool">SpawnRandom</store>
      <store field="zone" type="string">Zone</store>
      <store field="id" type="int">Id</store>
    </select>
  </query>

  <query type="EQEmu.RoamAreas.RoamAreaEntry">
    <update>
      <sql>
        <![CDATA[
UPDATE roam_area_vertices SET x = {0}, y = {1} WHERE num = {2} AND roam_area_id = {3} AND zone = '{4}';        
        ]]>        
      </sql>
      <param>X</param>
      <param>Y</param>
      <param>Number</param>
      <param>RoamAreaId</param>
      <param>Zone</param>
    </update>
    <insert>
      <sql>
        <![CDATA[
INSERT INTO roam_area_vertices (num,roam_area_id,zone,x,y) VALUES ({0},{1},'{2}',{3},{4});        
        ]]>
      </sql>
      <param>Number</param>
      <param>RoamAreaId</param>
      <param>Zone</param>
      <param>X</param>
      <param>Y</param>
    </insert>
    <delete>
      <sql>
        <![CDATA[
DELETE FROM roam_area_vertices WHERE num = {0} AND roam_area_id = {1} AND zone = '{2}';       
        ]]>
      </sql>
      <param>Number</param>
      <param>RoamAreaId</param>
      <param>Zone</param>
    </delete>
  </query>

  <query type="EQEmu.RoamAreas.RoamArea">
    <select>
      <sql>
        <![CDATA[
SELECT x,y,num,roam_area_id,zone FROM roam_area_vertices WHERE roam_area_id = '{0}' AND zone = '{1}' ORDER BY num; 
        ]]>
      </sql>
      <param>Id</param>
      <param>Zone</param>
      <store field="x" type="float">X</store>
      <store field="y" type="float">Y</store>
      <store field="num" type="int">Number</store>
      <store field="roam_area_id" type="int">RoamAreaId</store>
      <store field="zone" type="string">Zone</store>
    </select>
    <insert>
      <sql>
        <![CDATA[
INSERT INTO roam_areas (id,zone,max_z,min_z,spawn_random,pause_time,pause_variance) VALUES ({0},'{1}',{2},{3},{4},{5},{6});        
        ]]>
      </sql>
      <param>Id</param>
      <param>Zone</param>
      <param>MaxZ</param>
      <param>MinZ</param>
      <param>SpawnRandom</param>
      <param>PauseTime</param>
      <param>PauseVariance</param>
    </insert>
    <update>
      <sql>
        <![CDATA[
UPDATE roam_areas SET max_z = {0}, min_z = {1}, spawn_random = {2}, pause_time = {3}, pause_variance = {4} WHERE zone = '{5}' AND id = {6};
        ]]>        
      </sql>
      <param>MaxZ</param>
      <param>MinZ</param>
      <param>SpawnRandom</param>
      <param>PauseTime</param>
      <param>PauseVariance</param>
      <param>Zone</param>
      <param>Id</param>
    </update>
    <delete>
      <sql>
        <![CDATA[
DELETE FROM roam_areas WHERE zone = '{0}' AND id = {1};        
        ]]>
      </sql>
      <param>Zone</param>
      <param>Id</param>
    </delete>
  </query>
  
  <query type="EQEmu.Grids.ZoneGrids">
    <select>
      <sql>
        <![CDATA[
        SELECT grid.*,zone.short_name FROM grid INNER JOIN zone ON grid.zoneid = zone.zoneidnumber WHERE zone.short_name='{0}';
        ]]>
      </sql>
      <param>Zone</param>      
      <store field="zoneid" type="int">ZoneId</store>
      <store field="short_name" type="string">ZoneName</store>
      <store field="type" type="int">WanderType</store>
      <store field="type2" type="int">PauseType</store>
      <store field="id" type="int">Id</store>
    </select>
  </query>

  <query type="EQEmu.Zone.ZonePoints">
    <select>
      <sql>
        <![CDATA[
SELECT * FROM zone_points where zone = "{0}";        
        ]]>
      </sql>
      <param>Zone</param>
      <store field="id" type="int">Id</store>
      <store field="zone" type="string">Zone</store>
      <store field="version" type="int">Version</store>
      <store field="number" type="int">Number</store>
      <store field="x" type="float">X</store>
      <store field="y" type="float">Y</store>
      <store field="z" type="float">Z</store>
      <store field="heading" type="float">Heading</store>
      <store field="target_zone_id" type="int">TargetZoneId</store>      
      <store field="target_x" type="float">TargetX</store>
      <store field="target_y" type="float">TargetY</store>
      <store field="target_z" type="float">TargetZ</store>
      <store field="target_heading" type="float">TargetHeading</store>
    </select>    
  </query>

  <query type="EQEmu.Zone.ZonePoint">
    <update>
      <sql>
        <![CDATA[
UPDATE zone_points SET x = {2}, y = {3}, z = {4}, target_zone_id = {5}, target_x = {6}, target_y = {7}, target_z = {8}, target_heading = {9}
 WHERE id = {0} AND zone = '{1}';        
        ]]>        
      </sql>
      <param>Id</param>
      <param>Zone</param>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>TargetZoneId</param>
      <param>TargetX</param>
      <param>TargetY</param>
      <param>TargetZ</param>
      <param>TargetHeading</param>
    </update>
    <insert>
      <sql>
        <![CDATA[
INSERT INTO zone_points (number,zone,x,y,z,target_zone_id,target_x,target_y,target_z,target_heading)
VALUES ({0},'{1}',{2},{3},{4},{5},{6},{7},{8},{9});
        ]]>
      </sql>
      <param>Number</param>
      <param>Zone</param>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>TargetZoneId</param>
      <param>TargetX</param>
      <param>TargetY</param>
      <param>TargetZ</param>
      <param>TargetHeading</param>
    </insert>
    <delete>
      <sql>
        <![CDATA[
DELETE FROM zone_points WHERE id = {0} AND zone = '{1}';        
        ]]>
      </sql>
      <param>Id</param>
      <param>Zone</param>
    </delete>
  </query>

  <query type="EQEmu.GroundSpawns.ZoneGroundSpawns">
    <select>
      <sql>
        <![CDATA[
SELECT ground_spawns.*,zone.short_name,items.name as item_name FROM ground_spawns INNER JOIN zone ON ground_spawns.zoneid = zone.zoneidnumber INNER JOIN items ON ground_spawns.item = items.id WHERE zone.short_name='{0}';        
        ]]>
      </sql>
      <param>Zone</param>
      <store field="zoneid" type="int">ZoneId</store>
      <store field="id" type="int">Id</store>
      <store field="item" type="int">Item</store>
      <store field="version" type="int">Version</store>
      <store field="max_allowed" type="int">MaxAllowed</store>
      <store field="respawn_timer" type="long">RespawnTimer</store>
      <store field="max_x" type="float">MaxX</store>
      <store field="min_x" type="float">MinX</store>
      <store field="max_y" type="float">MaxY</store>
      <store field="min_y" type="float">MinY</store>
      <store field="max_z" type="float">MaxZ</store>
      <store field="heading" type="float">Heading</store>
      <store field="comment" type="string">Comment</store>
      <store field="name" type="string">Name</store>
      <store field="item_name" type="string">ItemName</store>
    </select>
  </query>

  <query type="EQEmu.Grids.Waypoint">
    <insert>
      <sql>
        <![CDATA[  
  INSERT INTO grid_entries (gridid,zoneid,number,x,y,z,heading,pause,running,name) VALUES
  (@GridID,{0},{1},{2:0.###},{3:0.###},{4:0.###},{5},{6},{7},'{8}');
        ]]>        
      </sql>
      <param>ZoneId</param>
      <param>Number</param>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>Heading</param>
      <param>PauseTime</param>
      <param>Running</param>
      <param>Name</param>
    </insert>
    <!-- EQEMU compatibility
    <insert>
      <sql>
        <![CDATA[  
  INSERT INTO grid_entries (gridid,zoneid,number,x,y,z,heading,pause) VALUES
  (@GridID,{0},{1},{2:0.###},{3:0.###},{4:0.###},{5},{6});
        ]]>        
      </sql>
      <param>ZoneId</param>
      <param>Number</param>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>Heading</param>
      <param>PauseTime</param>
    </insert>
    -->
    <delete>
      <sql>
        <![CDATA[
  DELETE FROM grid_entries WHERE gridid = @GridID AND zoneid = {0} AND number = {1};
        ]]>
      </sql>
      <param>ZoneId</param>
      <param>Number</param>
    </delete>
    <update>
      <sql>
        <![CDATA[
  UPDATE grid_entries SET
  x = {0:F3}, y = {1:F3}, z = {2:F3}, heading = {4}, pause = {5}, running = {6}, name = '{7}'
  WHERE gridid = @GridID AND zoneid = {8} AND number = {9};
        ]]>
      </sql>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>Number</param>
      <param>Heading</param>
      <param>PauseTime</param>
      <param>Running</param>
      <param>Name</param>
      <param>ZoneId</param>
      <param>Number</param>
    </update>
    
    <!-- EQEMU compatibility
    <update>
      <sql>
        <![CDATA[
  UPDATE grid_entries SET
  x = {0:F3}, y = {1:F3}, z = {2:F3}, heading = {4}, pause = {5}
  WHERE gridid = @GridID AND zoneid = {6} AND number = {7};
        ]]>
      </sql>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>Number</param>
      <param>Heading</param>
      <param>PauseTime</param>
      <param>ZoneId</param>
      <param>Number</param>
    </update>    
    -->
    
  </query>

  <query type="EQEmu.Grids.Grid"> 
    <select>
      <sql>
        <![CDATA[
        SELECT * FROM grid_entries WHERE gridid = {0} AND zoneid = {1};
        ]]>
      </sql>
      <param>Id</param>
      <param>ZoneId</param>

      <store field="zoneid" type="int">ZoneId</store>
      <store field="gridid" type="int">GridId</store>
      <store field="number" type="int">Number</store>
      <store field="heading" type="float">Heading</store>
      <store field="pause" type="int">PauseTime</store>
      <store field="name" type="string">Name</store>
      <store field="running" type="bool">Running</store>
      <store field="x" type="float">X</store>
      <store field="y" type="float">Y</store>
      <store field="z" type="float">Z</store>
    </select>
    
    <!-- EQEMU compatibility
    <select>
      <sql>
        <![CDATA[
        SELECT * FROM grid_entries WHERE gridid = {0} AND zoneid = {1};
        ]]>
      </sql>
      <param>Id</param>
      <param>ZoneId</param>

      <store field="zoneid" type="int">ZoneId</store>
      <store field="gridid" type="int">GridId</store>
      <store field="number" type="int">Number</store>
      <store field="heading" type="float">Heading</store>
      <store field="pause" type="int">PauseTime</store>            
      <store field="x" type="float">X</store>
      <store field="y" type="float">Y</store>
      <store field="z" type="float">Z</store>
    </select>    
    -->
    
    <insert>
      <sql>
        <![CDATA[
  SET @GridID = {0};
  INSERT INTO grid (id,zoneid,type,type2) VALUES (@GridID,{1},{2},{3});
        ]]>
      </sql>
      <param>Id</param>
      <param>ZoneId</param>
      <param>WanderType</param>
      <param>PauseType</param>
    </insert>
    <update>
      <sql>
        <![CDATA[
  SET @GridID = {0};
  UPDATE grid SET type = {1}, type2 = {2} WHERE id = @GridID AND zoneid = {3};
        ]]>
      </sql>
      <param>Id</param>
      <param>WanderType</param>
      <param>PauseType</param>
      <param>ZoneId</param>
    </update>
    <delete>
      <sql>
        <![CDATA[
  SET @GridID = {0};
  DELETE FROM grid WHERE id = @GridID AND zoneid = {1};
        ]]>
      </sql>
      <param>Id</param>
      <param>ZoneId</param>
    </delete>
  </query>

  <query-extension type="EQEmu.Grids.Grid" name="QueryByNPCName">
    <update>
      <sql>
        <![CDATA[
        UPDATE spawn2,npc_types,spawnentry SET spawn2.pathgrid = @GridID
        WHERE npc_types.name = \"{0}\" AND
        spawn2.zone = \"{1}\" AND
        npc_types.id = spawnentry.npcID AND
        spawn2.spawngroupID = spawnentry.spawngroupID;
        ]]>
      </sql>
      <param>NPCName</param>
      <param>ZoneName</param>
    </update>
  </query-extension>

  <query type="EQEmu.GroundSpawns.GroundSpawn">
    <update>
      <sql>
        <![CDATA[
        UPDATE ground_spawns 
        SET item = {1}, version = {2}, max_allowed = {3}, respawn_timer = {4},
            max_x = {5}, min_x = {6}, max_y = {7}, min_y = {8}, max_z = {9}, heading = {10}, comment = '{11}', name = '{12}'
        WHERE id = {13} AND zoneid = {14};
        ]]>
      </sql>
      <param>ZoneId</param>
      <param>Item</param>
      <param>Version</param>
      <param>MaxAllowed</param>
      <param>RespawnTimer</param>
      <param>MaxX</param>
      <param>MinX</param>
      <param>MaxY</param>
      <param>MinY</param>
      <param>MaxZ</param>
      <param>Heading</param>
      <param>Comment</param>
      <param>Name</param>
      <param>Id</param>
      <param>ZoneId</param>
    </update>
    <delete>
      <sql>
        <![CDATA[
        DELETE FROM ground_spawns WHERE id = {0} AND zoneid = {1};
        ]]>
      </sql>
      <param>Id</param>
      <param>ZoneId</param>
    </delete>
  </query>

  <query-extension type="EQEmu.Spawns.SpawnGroupAggregator" name="GetMaxID">
    <select>
      <sql>
        <![CDATA[
SELECT MAX(id) AS id FROM spawngroup;        
        ]]>
      </sql>
      <store field="id" type="int">Id</store>
    </select>
  </query-extension>

  <query-extension type="EQEmu.Spawns.SpawnGroupAggregator" name="GetByZone">
    <select>
      <sql>
        <![CDATA[
SELECT spawngroupid FROM spawn2 where zone = '{0}'
        ]]>
      </sql>
    </select>
  </query-extension>

  <query-extension type="EQEmu.Spawns.SpawnGroup" name="GetSpawn2">
    <select>
      <sql>
        <![CDATA[
SELECT * FROM spawn2 where spawngroupid = {0};
        ]]>
      </sql>
      <store field="zone" type="string">Zone</store>
      <store field="pathgrid" type="int">GridId</store>
      <store field="heading" type="float">Heading</store>
      <store field="x" type="float">X</store>
      <store field="y" type="float">Y</store>
      <store field="z" type="float">Z</store>
      <store field="roam_area" type="int">RoamAreaId</store>
      <store field="respawntime" type="int">RespawnTime</store>
      <store field="spawngroupID" type="int">SpawnGroupId</store>
      <store field="id" type="int">Id</store>
      <store field="animation" type="int">IdleAnimation</store>
      <store field="cond_value" type="int">ConditionValue</store>
      <store field="_condition" type="int">Condition</store>      
    </select>
  </query-extension>

  <query-extension type="EQEmu.GroundSpawns.GroundSpawn" name="GetItemName">
    <select>
      <sql>
        <![CDATA[SELECT name FROM items WHERE id = {0};]]>
      </sql>
      <param>Item</param>
      <store field="name" type="string">ItemName</store>
    </select>
  </query-extension>

  <query-extension type="EQEmu.Spawns.ZoneSpawns" name="GetMaxZoneID">
    <select>
      <sql>
        <![CDATA[SELECT id FROM spawn2 WHERE id = {0};]]>
      </sql>
      <!-- param provided by the method -->
    </select>
  </query-extension>

  <query-extension type="EQEmu.Spawns.ZoneSpawns" name="GetMaxID">
    <select>
      <sql>
<![CDATA[SELECT MAX(id) AS id FROM spawn2]]>
      </sql>
      <!-- param provided by the method -->
    </select>
  </query-extension>

  <query type="EQEmu.Spawns.ZoneSpawns">
    <select>
      <sql>
<![CDATA[SELECT * FROM spawn2 WHERE zone='{0}' and version={1};]]>
      </sql>
      <param>Zone</param>
      <param>Version</param>
      <store field="zone" type="string">Zone</store>
      <store field="pathgrid" type="int">GridId</store>
      <store field="heading" type="float">Heading</store>
      <store field="x" type="float">X</store>
      <store field="y" type="float">Y</store>
      <store field="z" type="float">Z</store>
      <store field="roam_area" type="int">RoamAreaId</store>
      <store field="respawntime" type="int">RespawnTime</store>
      <store field="spawngroupID" type="int">SpawnGroupId</store>
      <store field="id" type="int">Id</store>
      <store field="animation" type="int">IdleAnimation</store>
      <store field="cond_value" type="int">ConditionValue</store>
      <store field="_condition" type="int">Condition</store>
      <store field="version" type="int">Version</store>
    </select>
    
    <!-- EQEMU compatibility
    <select>
      <sql>
        <![CDATA[
        SELECT * FROM spawn2 WHERE zone='{0}';
        ]]>
      </sql>
      <param>Zone</param>
      <store field="zone" type="string">Zone</store>
      <store field="pathgrid" type="int">GridId</store>
      <store field="heading" type="float">Heading</store>
      <store field="x" type="float">X</store>
      <store field="y" type="float">Y</store>
      <store field="z" type="float">Z</store>
      <store field="respawntime" type="int">RespawnTime</store>
      <store field="spawngroupID" type="int">SpawnGroupId</store>
      <store field="id" type="int">Id</store>
      <store field="animation" type="int">IdleAnimation</store>
    </select>            
    -->
    
  </query>

  <query type="EQEmu.Spawns.SpawnGroupAggregator">
    <select>
      <sql>
<![CDATA[SELECT * FROM spawngroup WHERE id = {0};]]>        
      </sql>
      <param>FilterById</param>
      <store field="id" type="int">Id</store>
      <store field="name" type="string">Name</store>
      <store field="delay" type="int">RoamingDelay</store>
      <store field="spawn_limit" type="short">SpawnLimit</store>
      <store field="dist" type="float">RoamingDistance</store>
      <store field="min_x" type="float">MinRoamingX</store>
      <store field="min_y" type="float">MinRoamingY</store>
      <store field="max_x" type="float">MaxRoamingX</store>
      <store field="max_y" type="float">MaxRoamingY</store>
    </select>
  </query>

  <query type="EQEmu.Spawns.SpawnEntry">
    <delete>
      <sql>
<![CDATA[DELETE FROM spawnentry WHERE npcID = {0} AND spawngroupID = {1};]]>
      </sql>
      <param>NpcID</param>
      <param>SpawnGroupID</param>
    </delete>
    <insert>
      <sql>
<![CDATA[INSERT INTO spawnentry (npcId,spawngroupID,chance) VALUES ({0},{1},{2});]]>
      </sql>
      <param>NpcID</param>
      <param>SpawnGroupID</param>
      <param>Chance</param>
    </insert>
    <update>
      <sql>
<![CDATA[UPDATE spawnentry SET chance = {0} WHERE npcID = {1} AND spawngroupID = {2};]]>        
      </sql>
      <param>Chance</param>
      <param>NpcID</param>
      <param>SpawnGroupID</param>      
    </update>
  </query>

  <query type="EQEmu.Spawns.NPC">
    <update>
      <sql>
<![CDATA[UPDATE npc_types SET loottable_id = {0}, name = '{1}', level = {2} WHERE id = {3};]]>
      </sql>
      <param>LootTableId</param>
      <param>Name</param>
      <param>Level</param>
      <param>Id</param>
    </update>
    <insert>
      <sql>
<![CDATA[INSERT INTO npc_types (id,loottable_id,level,name) VALUES ({3},{0},{2},'{1}');]]>
      </sql>
      <param>LootTableId</param>
      <param>Name</param>
      <param>Level</param>
      <param>Id</param>
    </insert>
  </query>

  <query type="EQEmu.Spawns.NPCAggregator">
    <select>
      <sql>
        <![CDATA[
SELECT * FROM npc_types WHERE name LIKE '%{0}%' LIMIT 250;        
        ]]>
      </sql>
      <param>FilterName</param>
      <store field="name" type="string">Name</store>
      <store field="level" type="int">Level</store>
      <store field="id" type="int">Id</store>
      <store field="loottable_id" type="int">LootTableId</store>
    </select>
  </query>

  <query-extension type="EQEmu.Spawns.NPCAggregator" name="LookupByZone">
    <select>
      <sql>
        <![CDATA[
SELECT npc_types.*
FROM npc_types,spawngroup,spawnentry,spawn2
WHERE spawngroup.id = spawnentry.spawngroupid
AND spawn2.spawngroupid = spawngroup.id
AND npc_types.id = spawnentry.npcid
AND spawn2.zone = '{0}' GROUP BY npc_types.id;       
        ]]>
      </sql>
      <store field="name" type="string">Name</store>
      <store field="level" type="int">Level</store>
      <store field="id" type="int">Id</store>
      <store field="loottable_id" type="int">LootTableId</store>
    </select>
  </query-extension>

  <query type="EQEmu.Spawns.SpawnGroup">
    <select>
      <sql>
        <![CDATA[
SELECT spawnentry.*, npc_types.name AS npcname, npc_types.level AS level FROM spawnentry INNER JOIN npc_types ON npc_types.id = spawnentry.npcID WHERE spawngroupID = {0};         
        ]]>
      </sql>
      <param>Id</param>
      <store field="spawngroupID" type="int">SpawnGroupID</store>
      <store field="npcID" type="int">NpcID</store>
      <store field="chance" type="short">Chance</store>
      <store field="npcname" type="string">NpcName</store>
      <store field="level" type="short">NpcLevel</store>
    </select>
    <update>
      <sql>
        <![CDATA[UPDATE spawngroup SET delay = {0}, spawn_limit = {1}, dist = {2}, min_x = {3}, max_x = {4}, min_y = {5}, max_y = {6}, name = '{7}' WHERE id = {8};]]>
      </sql>
      <param>RoamingDelay</param>
      <param>SpawnLimit</param>
      <param>RoamingDistance</param>
      <param>MinRoamingX</param>
      <param>MaxRoamingX</param>
      <param>MinRoamingY</param>
      <param>MaxRoamingY</param>
      <param>Name</param>
      <param>Id</param>
    </update>
    <insert>
      <sql>
        <![CDATA[
INSERT INTO spawngroup (id,name,delay,spawn_limit,dist,min_x,max_x,min_y,max_y)
VALUES ({0},'{1}',{2},{3},{4},{5},{6},{7},{8});
        ]]>
      </sql>
      <!--0--><param>Id</param>
      <!--1--><param>Name</param>
      <!--2--><param>RoamingDelay</param>
      <!--3--><param>SpawnLimit</param>
      <!--4--><param>RoamingDistance</param>
      <!--5--><param>MinRoamingX</param>
      <!--6--><param>MaxRoamingX</param>
      <!--7--><param>MinRoamingY</param>
      <!--8--><param>MaxRoamingY</param>
    </insert>
    <delete>
      <sql>
        <![CDATA[
DELETE FROM spawngroup WHERE id = {0};        
        ]]>
      </sql>
      <param>Id</param>
    </delete>
  </query>
  
  <query type="EQEmu.Spawns.Spawn2">
    <insert>
      <sql>
        <![CDATA[INSERT INTO spawn2 (id,zone,spawngroupId,x,y,z,heading,respawntime,pathgrid,roam_area,animation,cond_value,_condition) VALUES
({0},'{1}',{2},{3},{4},{5},{6},{7},{8},{9},{10},{11},{12});]]>
      </sql>
      <param>Id</param>
      <param>Zone</param>
      <param>SpawnGroupId</param>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>Heading</param>
      <param>RespawnTime</param>
      <param>GridId</param>
      <param>RoamAreaId</param>
      <param>IdleAnimation</param>
      <param>ConditionValue</param>
      <param>Condition</param>
    </insert>
    
    <!-- EQEMU compatibility
     <insert>
      <sql>
        <![CDATA[
INSERT INTO spawn2 (id,zone,spawngroupId,x,y,z,heading,respawntime,pathgrid,animation) VALUES
({0},'{1}',{2},{3},{4},{5},{6},{7},{8},{9});
        ]]>
      </sql>
      <param>Id</param>
      <param>Zone</param>
      <param>SpawnGroupId</param>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>Heading</param>
      <param>RespawnTime</param>
      <param>GridId</param>
      <param>IdleAnimation</param>
    </insert>   
    -->
    
    <update>
      <sql>
<![CDATA[UPDATE spawn2 SET spawngroupId = {0}, zone = '{1}', version = {2}, x = {3:F3}, y = {4:F3}, z = {5:F3}, heading = {6:F3}, respawntime = {7}, variance = {8}, pathgrid = {9}, roam_area = {10}, animation = {12}, _condition = {13}, cond_value = {14}
WHERE id = {11} AND zone = '{1}';]]>
      </sql>
      <param>SpawnGroupId</param>
      <param>Zone</param>
      <param>Version</param>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>Heading</param>
      <param>RespawnTime</param>
      <param>Variance</param>
      <param>GridId</param>
      <param>RoamAreaId</param>
      <param>Id</param>
      <param>IdleAnimation</param>
      <param>Condition</param>
      <param>ConditionValue</param>
    </update>
    
    <!-- EQEMU compatibility
     <update>
      <sql>
        <![CDATA[
UPDATE spawn2 SET spawngroupId = {0}, zone = '{1}', version = {2}, x = {3:F3}, y = {4:F3}, z = {5:F3}, heading = {6:F3}, respawntime = {7}, variance = {8}, pathgrid = {9}, animation = {11}
WHERE id = {10} AND zone = '{1}';
        ]]>
      </sql>
      <param>SpawnGroupId</param>
      <param>Zone</param>
      <param>Version</param>
      <param>X</param>
      <param>Y</param>
      <param>Z</param>
      <param>Heading</param>
      <param>RespawnTime</param>
      <param>Variance</param>
      <param>GridId</param>
      <param>Id</param>
      <param>IdleAnimation</param>
    </update>   
    -->
    
    <delete>
      <sql>
        <![CDATA[DELETE FROM spawn2 WHERE id = {0} AND zone = '{1}';]]>
      </sql>
      <param>Id</param>
      <param>Zone</param>
    </delete>
  </query>


  <query type="EQEmu.Loot.LootTable">
    <select>
      <sql>
        <![CDATA[
SELECT * FROM loottable,loottable_entries WHERE loottable.id = {0} AND loottable.id = loottable_entries.loottable_id;        
        ]]>
      </sql>
      <param>Id</param>
      <store field="lootdrop_id" type="int">Id</store>
      <store field="multiplier" type="int">Multiplier</store>
      <store field="probability" type="int">Probability</store>
      <store field="name" type="string">Name</store>
      <store field="id" type="int">LootTableId</store>
    </select>

    <insert>
      <sql>
        <![CDATA[INSERT INTO loottable(id,name,mincash,maxcash) VALUES ({0},'{1}',{2},{3});]]>
      </sql>
      <param>Id</param>
      <param>Name</param>
      <param>MinCash</param>
      <param>MaxCash</param>
    </insert>

    <update>
      <sql>
        <![CDATA[UPDATE loottable SET name = '{0}' AND mincash = {1} AND maxcash = {2} WHERE id = {3};]]>
      </sql>
      <param>Name</param>
      <param>MinCash</param>
      <param>MaxCash</param>
      <param>Id</param>
    </update>

    <delete>
      <sql>
        <![CDATA[
DELETE FROM loottable WHERE id = {0};        
        ]]>
      </sql>
      <param>Id</param>
    </delete>
    
  </query>

  <query type="EQEmu.Loot.LootDropEntry">
    <insert>
      <sql>
        <![CDATA[INSERT INTO lootdrop_entries(lootdrop_id,item_id,item_charges,equip_item,chance)
VALUES (@LootDropID,{1},{2},{3},{4});]]>
      </sql>
      <param>LootDropId</param>
      <param>ItemId</param>
      <param>ItemCharges</param>
      <param>EquipItem</param>
      <param>Chance</param>
    </insert>

    <update>
      <sql>
        <![CDATA[UPDATE lootdrop_entries SET item_id = {0}, item_charges = {1}, equip_item = {2}, chance = {3}
WHERE lootdrop_id = @LootDropID AND item_id = {5};]]>
      </sql>
      <param>ItemId</param>
      <param>ItemCharges</param>
      <param>EquipItem</param>
      <param>Chance</param>
      <param>LootDropId</param>
      <param>ItemId</param>
    </update>

    <delete>
      <sql>
        <![CDATA[DELETE FROM lootdrop_entries WHERE lootdrop_id = @LootDropID AND item_id = {1};]]>
      </sql>
      <param>LootDropId</param>
      <param>ItemId</param>
    </delete>
  </query>

  <query type="EQEmu.Loot.LootDrop">
    <select>
      <sql>
        <![CDATA[
SELECT lootdrop.*,lootdrop_entries.*,items.name as itemname FROM lootdrop,lootdrop_entries,items where lootdrop.id = {0} AND lootdrop.id = lootdrop_entries.lootdrop_id AND items.id = lootdrop_entries.item_id;        
        ]]>
      </sql>
      <param>Id</param>
      <store field="item_id" type="int">ItemId</store>
      <store field="item_charges" type="int">ItemCharges</store>
      <store field="equip_item" type="bool">EquipItem</store>
      <store field="chance" type="int">Chance</store>
      <store field="itemname" type="string">ItemName</store>
      <store field="lootdrop_id" type="int">LootDropId</store>
    </select>

    <insert>
      <sql>
        <![CDATA[INSERT INTO loottable_entries(loottable_id,lootdrop_id,multiplier,probability) VALUES ({2},@LootDropID,{4},{5});]]>
      </sql>
      <param>Id</param>
      <param>Name</param>
      <param>LootTableId</param>
      <param>Id</param>
      <param>Multiplier</param>
      <param>Probability</param>
    </insert>

    <update>
      <sql>
        <![CDATA[UPDATE lootdrop SET lootdrop.name = '{0}' WHERE id = @LootDropID;  
UPDATE loottable_entries SET multiplier = {2}, probability = {3} WHERE lootdrop_id = @LootDropID AND loottable_id = {4};]]>
      </sql>      
      <param>Name</param>
      <param>Id</param>
      <param>Multiplier</param>
      <param>Probability</param>
      <param>LootTableId</param>
    </update>

    <delete>
      <sql>
        <![CDATA[DELETE FROM loottable_entries where loottable_id = {0} AND lootdrop_id = @LootDropID;]]>
      </sql>
      <param>LootTableId</param>
      <param>Id</param>
    </delete>
  </query>

  <query-extension type="EQEmu.Loot.LootDrop" name="NewInsert">
    <insert>
      <sql>
        <![CDATA[INSERT INTO lootdrop(id,name) VALUES (@LootDropID,'{1}');]]>
      </sql>
      <param>Id</param>
      <param>Name</param>
    </insert>
  </query-extension>

  <query-extension type="EQEmu.Spawns.ZoneSpawns" name="GetAllVersions">
    <select>
      <sql>
        <![CDATA[
        SELECT * FROM spawn2 WHERE zone='{0}';
        ]]>
      </sql>
      <param>Zone</param>
      <store field="zone" type="string">Zone</store>
      <store field="pathgrid" type="int">GridId</store>
      <store field="heading" type="float">Heading</store>
      <store field="x" type="float">X</store>
      <store field="y" type="float">Y</store>
      <store field="z" type="float">Z</store>
      <store field="roam_area" type="int">RoamAreaId</store>
      <store field="respawntime" type="int">RespawnTime</store>
      <store field="spawngroupID" type="int">SpawnGroupId</store>
      <store field="id" type="int">Id</store>
      <store field="animation" type="int">IdleAnimation</store>
      <store field="cond_value" type="int">ConditionValue</store>
      <store field="_condition" type="int">Condition</store>
      <store field="version" type="int">Version</store>
    </select>
  </query-extension>

</property-mapping>
